li a{
text-decoration:none;}
#navbar {
	position: fixed;
	top:3px;
	left:90%;
	margin-left:-154px;
}
ul li{
display:inline;
padding-right:15px;
}
ul{
	list-style-type: none;
	position: fixed;
	margin: 20px;
	}

}
img{
    margin-left:none;
	margin-top:none;
	margin-right:none;
}
div a{
	font-weight:bold;
	color:#f6b1b1;
	font-family:Century Gothic;
	text-decoration:none;
}
p{
font-family:Century Gothic;
color:#9a3c3c;
font-size:16px;
}
body{
background-color:#ffefef;
}
#right_text{
	float:left;
}
div p{
	font-size:17px;
}
#aboutpage{
	background-image:url("http://cs624529.vk.me/v624529608/1a0d4/GC8BIZCybwE.jpg")
}

